<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-if7xXaY0daH2-1uj-R5EItZd-PekeDU</string>
	<key>GCM_SENDER_ID</key>
	<string>899270760733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalExam</string>
	<key>PROJECT_ID</key>
	<string>final-exam-6cdb8</string>
	<key>STORAGE_BUCKET</key>
	<string>final-exam-6cdb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899270760733:ios:f08135ccac4c1b037a29f4</string>
</dict>
</plist>